# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# IntelliJ
.idea
*.iml

secrets.yaml

# NYC test coverage
.nyc_output/

*.zip
.extensionrc
.notificationrc
