{
  "extends": ["commercetools", "prettier"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "nonblock-statement-body-position": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "max-len": [
      2,
      120
    ],
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "no-param-reassign": 0,
    "no-unused-expressions": "off",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-prototype-builtins": "off",
    "arrow-parens": "off",
    "no-await-in-loop": "off"
  }
}
