# This workflow will do a clean install of node dependencies, build the source code and run tests with node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on: [ push ]

jobs:

  extension_test:
    name: Test for Extension Module
    concurrency: extension_test
    runs-on: ubuntu-latest
    env:
      ADYEN_INTEGRATION_CONFIG: ${{ secrets.ADYEN_INTEGRATION_CONFIG }}
      EXTENSION_TUNNEL_DOMAIN: ${{ secrets.EXTENSION_TUNNEL_DOMAIN }}
      NOTIFICATION_TUNNEL_DOMAIN: ${{ secrets.NOTIFICATION_TUNNEL_DOMAIN }}
      NGROK_AUTHTOKEN: ${{secrets.NGROK_AUTHTOKEN }}
      EXTENSION_PORT: 8080
      NOTIFICATION_PORT: 8081
    defaults:
      run:
        working-directory: extension
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - name: Install dependencies
        run: npm ci
      - name: Lockfile Lint Check
        run: npx lockfile-lint --path package-lock.json --allowed-schemes "https:" "git+https:" --allowed-hosts npm github.com
      - name: Run Code Checks
        run: npm run check
      - name: Install notification dependencies
        run: npm ci
        working-directory: notification
      - name: Run unit and integration tests
        run: npm run test-ci

  notification_test:
    name: Test for Notification Module
    concurrency: notification_test
    needs: extension_test
    runs-on: ubuntu-latest
    env:
      ADYEN_INTEGRATION_CONFIG: ${{ secrets.ADYEN_INTEGRATION_CONFIG }}
      EXTENSION_TUNNEL_DOMAIN: ${{ secrets.EXTENSION_TUNNEL_DOMAIN }}
      NGROK_AUTHTOKEN: ${{secrets.NGROK_AUTHTOKEN }}
      EXTENSION_PORT: 8080
      NOTIFICATION_PORT: 8081
    defaults:
      run:
        working-directory: notification
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - name: Install dependencies
        run: npm ci
      - name: Lockfile Lint Check
        run: npx lockfile-lint --path package-lock.json --allowed-schemes "https:" "git+https:" --allowed-hosts npm github.com
      - name: Run Code Checks
        run: npm run check
      - name: Install extension dependencies
        run: npm ci
        working-directory: extension
      - name: Run unit and integration tests
        run: npm run test-ci
